@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

:root {
  --matr-navbar-bg: #c84d0c;
  --matr-navbar-bg-rgb: 200, 77, 12;
  --matr-navbar-text-color: white;
  --matr-navbar-highlight-text: khaki;
}

body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  /*noinspection CssUnknownTarget*/
  background: fixed center url("images/overthegardenwall.jpg");
  background-size: cover;
  --bs-dark: var(--matr-navbar-bg);
  --bs-dark-rgb: var(--matr-navbar-bg-rgb);
}

#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

footer, footer a {
  color: var(--matr-navbar-text-color);
}

body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

.bg-dark a.dropdown-item {
  color: var(--matr-navbar-bg);
}

.navbar a.nav-link.active {
  color: var(--matr-navbar-highlight-text);
}
